selenium==3.141.0
paramiko==2.7.2
chromedriver_autoinstaller
bps_restpy
pytest
urllib3==1.26.3
py
colorama
pip
toml
wheel
cryptography==3.4.6
tox
filelock
pluggy
six==1.15.0
packaging
attrs
mypy
flake8
setuptools
pyflakes
iniconfig
atomicwrites
certifi==2020.12.5
coverage
bcrypt
idna==2.10
pyparsing==2.4.7
pycparser==2.20
virtualenv
distlib
platformdirs
tca
aiohttp
requests==2.25.1
cffi==1.14.5