Selenium
requests
paramiko
chromedriver_autoinstaller
bps_restpy
pytest
urllib3
py
colorama
pip
toml
wheel
cryptography
tox
filelock
pluggy
six
packaging
attrs
mypy
flake8
setuptools
pyflakes
iniconfig
atomicwrites
certifi
coverage
bcrypt
idna
pyparsing
pycparser
virtualenv
distlib
platformdirs
tca